# Maven / Build
/target/
/.mvn/
/.mvn/wrapper/maven-wrapper.jar
/.m2/

# IntelliJ / VSCode
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS noise
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
pgdata/
